@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$ascent-color: #c4f82a;
$card-background-color: #1f1f1f;
$text-color: #ffffff;
$text-secondary-color:#c9e861;
$body-color:#141414;
$xl-font-size:2rem;
$md-font-size:1.8rem;
$sm-font-size:1rem;
$button-base-color:#333333;
$button-active-color:#c4f82a;
$text-active-color:#1f1f1f;


$font: "Poppins", sans-serif;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    
}

body{
    background-color: $body-color;
    font-family: $font;
}

.main-container{
    display: flex;
    flex-direction: column; 
    height: 500px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-around;
    align-items: center;
    background-color: $card-background-color;
    margin-top: 100px;
    border-radius: 10px;
    
}


.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 20px;
    align-self: center;
}

.profile-name{
    color:$text-color;
    font-size: $xl-font-size;
    align-self: center;
    margin-bottom: 10px;
}

.profile-location{
    color:$text-secondary-color;
    font-size: $sm-font-size;
    margin-bottom: 1rem;
    align-self: center;
}

.links-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50%;
    align-items: center;
}
.links-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.button-gray{
    background-color: $button-base-color;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    transition: 0.5s ease-in-out;
    &:hover{
        background-color: $button-active-color ;
        color:$text-active-color;
        transform: scale(1.1);
    }
}

.quote{
    color:$text-color;
    margin-bottom: 20px;
}


ul{
   list-style: none;
   
}

a{
        text-decoration: none;
        color: $text-color;
        text-align: center;
        font-size: $sm-font-size;
    }

@media (min-width:800px){
    .main-container{
        width: 300px;
        margin: 0 auto;
        position: relative;
        top:10vh;
    }
}